<html>
<head>
<title>gfg</title>
<style type=text/css>
div
{
color: white;
background-color: 009900;
margin: 2px;
font-size: 25px;
}
</style>
</head>

<body>
<div> vignan </div>
<div> vignan </div>
<div> vignan </div>

</body>
</html>